<a href="https://colab.research.google.com/github/sumitrathore111/main.py/blob/main/Sales_Data_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Data Wrangling

In [23]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Load the dataset
data = pd.read_csv('/content/1716984926_ausapparalsales4thqrt2020 (1).zip')

print(data.info())  # Check data types and non-null values
print(data.describe())  # Summary statistics for numeric columns
print(data.head())  # Display the first few rows of data
#check for missing values
print(data.isnull().sum())
#correcting data typ

# Check the data types of each column
print(data.dtypes)


#checking duplicates
duplicates = data.duplicated().sum()
print(f"Number of duplicate rows: {duplicates}")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7560 entries, 0 to 7559
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    7560 non-null   object
 1   Time    7560 non-null   object
 2   State   7560 non-null   object
 3   Group   7560 non-null   object
 4   Unit    7560 non-null   int64
 5   Sales   7560 non-null   int64
dtypes: int64(2), object(4)
memory usage: 354.5+ KB
None
              Unit          Sales
count  7560.000000    7560.000000
mean     18.005423   45013.558201
std      12.901403   32253.506944
min       2.000000    5000.000000
25%       8.000000   20000.000000
50%      14.000000   35000.000000
75%      26.000000   65000.000000
max      65.000000  162500.000000
         Date        Time State     Group  Unit  Sales
0  1-Oct-2020     Morning    WA      Kids     8  20000
1  1-Oct-2020     Morning    WA       Men     8  20000
2  1-Oct-2020     Morning    WA     Women     4  10000
3  1-Oct-2020     Morning    WA   Seniors    15  37500
4  1-Oct-2020   Afternoon    WA      Kids     3   7500
Date     0
Time     0
State    0
Group    0
Unit     0
Sales    0
dtype: int64
Date     object
Time     object
State    object
Group    object
Unit      int64
Sales     int64
dtype: object
Number of duplicate rows: 0

In [24]:
## Using IQR method to detect outliers in 'Sales' column
Q1 = data['Sales'].quantile(0.25)
Q3 = data['Sales'].quantile(0.75)
IQR = Q3 - Q1

# Defining acceptable range (1.5 times the IQR)
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Filter the data within the acceptable range
data_cleaned = data[(data['Sales'] >= lower_bound) & (data['Sales'] <= upper_bound)]

Data Visualization